obj/project.assets.json
obj/Dwarf Unit Name Generator.csproj.nuget.dgspec.json
obj/Debug/net6.0/Dwarf Unit Name Generator.GeneratedMSBuildEditorConfig.editorconfig
obj/project.nuget.cache
obj/Debug/net6.0/Dwarf Unit Name Generator.assets.cache
obj/Debug/net6.0/Dwarf Unit Name Generator.csproj.AssemblyReference.cache
obj/Debug/net6.0/Dwarf Unit Name Generator.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Dwarf Unit Name Generator.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Dwarf Unit Name Generator.genruntimeconfig.cache
obj/Debug/net6.0/Dwarf Unit Name Generator.pdb
obj/Debug/net6.0/ref/Dwarf Unit Name Generator.dll
bin/Debug/net6.0/Dwarf Unit Name Generator.dll
bin/Debug/net6.0/Dwarf Unit Name Generator.pdb
**/.vscode/